services:
  node:
    build: .
    volumes:
      - .:/app
    working_dir: /app
    tty: true
    stdin_open: true
    networks:
      - app-network

  storybook:
    build: .
    volumes:
      - .:/app
    working_dir: /app
    command: yarn storybook --host 0.0.0.0 --no-open
    ports:
      - "6006:6006"
    networks:
      - app-network

  playwright:
    image: mcr.microsoft.com/playwright:v1.58.0-noble
    volumes:
      - .:/app
    working_dir: /app
    depends_on:
      - storybook
    environment:
      - CI=true
      - STORYBOOK_URL=http://storybook:6006
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
